div#game {
	position:relative;
	padding:0;
	margin:0 auto 0;
	
	width:987px;
	height:570px;

	border:1px solid #CCCCCC;

	/* GLOBAL */

	font-family: 'Aladin', cursive;

	a {
		text-decoration:none;
	}

	.hide {
		visibility:hidden!important;
	}

	/**/

	#background {
	
		position:absolute;

		top: 67px;
		left: 47px;

		width:897px;
		height:386px;

		border:1px solid #CCCCCC;
	}

	#ballArea {
	
		position:absolute;

		top: 108px;
		left: 208px;

		width:356px;
		height:284px;

		border:1px solid #ECECFB;

		#boxOverlay {

			display: block;

			position:absolute;
			top: 0;
			left: 0;

			width:inherit;
			height:inherit;

			background-color:#ECECFB;

			opacity:0.8;
			filter:alpha(opacity=80);

			/* game message control */
			.controlPanel-msg {

				position:relative;
				float:left;

				margin:0 auto 0;

				width:inherit;

				border:1px solid #AAAAAA;

				// Start game
				a {  

					position:relative;
					float:left;

					margin:5px;
					padding:3px;

					color:#8C0000;

					border:1px solid #AAAAAA;

				}
			}
			

		}

		#ballBox {
			margin: 16px 0 0 7px;
		}

		.circle-btn {
			cursor:hand; 
			cursor:pointer;
			
			circle.border {
				fill:#E0E0E0;
			}

			circle.bHover {
				fill:#7A8B8B;
			}

			circle.bPress {
				fill:#A62A2A;
			}

			circle.selected {
				fill:#000000;
			}
			
		}
	}

	#trophiesCenter {
	
		position:absolute;

		top: 108px;
		left: 568px;

		padding:2px;

		width:234px;
		height:282px;

		background-color:#ECECFB;
	}

	#historyArea  {
	
		position:absolute;

		top: 108px;
		left: 62px;

		padding:2px;

		width:140px;
		height:282px;

		background-color:#ECECFB;

		/* level complete label*/
		p {
			
			padding: 5px;
			background-color:#555555;

			font-size: 20px;
			color: #FFFF00;

			span {
				font-size: 30px;
				color: #FFF;
			}
		}
	}

	#rewardroom {

		position:absolute;

		top: 10px;
		left: 10px;

		width:600px;
		height:40px;

		display:block;

		//
		h1.userWin {
			background-color:#00EACD;
		}
		h1.userFail {
			background-color:#CC3300;
		}

	}

}